* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #cfa580;
}
body {
  max-width: 1024px;
}
p {
  letter-spacing: 1px;
  font-family: sans-serif;
  font-weight: 400;
}
.port-img {
  width: 336px;
  height: 189px;

}
.p-data {
 text-align: center;
 padding: 15px;
}
h3 {
  text-align: center;
  padding: 15px;
  color: #b4484b;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: #cfa580;
}
li,a {
  text-decoration: none;
  font-weight: 400;
  color: #daf1f1;
  text-align: center;
  background-color: #b4484b;
  margin: 5px 30px;
  padding: 10px;
  border-radius: 10px;
}
h2 {
  font-size: 30px;
  color: #b4484b;
  text-align: center;
}
h1 {
  text-align: center;
  background-color: #cfa580;
  padding: 15px;
}
li,
a:hover {
  color: #0e2122;
}
.data-top {
text-align: center;
margin: 0 auto;
}

/*start changes to the bio*/
.main-header {
  width: 100%;
}
.bio{
  background-color: #cfa580;
  display: flex;
  flex-direction: column;
}
.bio-img {
 border-radius: 20px;
}
.bio-p {
padding:0 2em;
text-align: center;
font-size: 20px;
line-height: 1.5rem;
margin: 10px 15px;
}
 /* div-portfolio */

 .container-top {
 width: 100%;
 border-bottom: 2px solid rgba(255, 255, 255, 0.7);
 }

  .h2-portfolio {
margin: 50PX auto;
text-align: center;
padding: 40px;
  }
  .h2-portfolio{
   border-top: 2px solid rgba(255, 255, 255, 0.7);
 }
 

  /* div-sills */
  .SKILLS {
margin: 10PX auto;
 text-align: center;
 padding: 30px;
 }

 .container-bottem {
  text-align: center;
  margin:px auto ;
 border-bottom: 2px solid rgba(255, 255, 255, 0.7);
 }
 .bottem-img {
  width: 200px;
  height: 113px;
  margin: 10px auto;
  }
  /* div.contact */
 .h2-contact{
  margin: 10PX auto;
  text-align: center;
    padding: 30px;
 }
  .footer-li {
 display: none;
 }
 .p-phone {
 margin: 30px;
 text-align: center;
 }
 .a-phone {
margin-left: 1px;
 }
 .p-email{
  margin-left: 40px;
 }
.a-email{
  font-size: 12px;
  margin-left: 1px;
}

/* footer */
.footer-click {
  margin-right: 1px;
}

.nav-footer{
 display: flex;
 justify-content: space-between;
 font-weight: 500;
 padding: 10px 5%;
 border-top-left-radius: 20px;
 margin-top: 30px;
 padding-left: 1px;
 padding-right: 1px;
}
